{% extends "layout.html"%}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>You seem to be lost</h1>
        </div>
    </div>
</div>
{% endblock %}